@page "/competition-detail/{CompetitionId:int}"

@if (Competition != null)
{
    <PageHeader HeaderText="@Competition.Name" />

    <div class="row">
        <div class="col-12">
            <span class="text-muted">Created by: @Competition.CreatedBy</span>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <CompetitionAttributesCard Competition="@Competition"
                                               IsContestantJoining="@IsContestantJoining"
                                               UserId="@UserId"
                                               HandleContestantJoin="@HandleContestantJoin" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <CompetitionsDeadlineCard Competition="@Competition"
                                              UserId="@UserId"
                                              HandleContestantJoin="@HandleContestantJoin" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <CompetitionResultsCard CompetitionId="@Competition.CompetitionId" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <LoadingSpinner />
}
