@inject NavigationManager navigation

<div class="card shadow">
    <div class="card-header">
        <h5>@competition.Name</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        @if (DateTime.Today > competition.StartDate)
                        {
                            <span>Started on @competition.StartDate.ToShortDateString()</span>
                        }
                        else
                        {
                            <span>Starts on @competition.StartDate.ToShortDateString()</span>
                        }
                    </li>
                    <li>
                        @if (DateTime.Today > competition.EndDate)
                        {
                            <span>Ended on @competition.EndDate.ToShortDateString()</span>
                        }
                        else
                        {
                            <span>Ends on @competition.EndDate.ToShortDateString()</span>
                        }
                    </li>
                    <li>
                        @if (competition.Contestants != null)
                        {
                            @if (competition.Contestants.Any())
                            {
                                <span>@competition.Contestants.Count() contestants</span>
                            }
                            else
                            {
                                <span>0 contestants</span>
                            }
                        }
                        else
                        {
                            <span>0 contestants</span>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button @onclick='() => navigation.NavigateTo($"/competition-detail/{competition.CompetitionId}")' class="btn btn-secondary btn-block" type="button">
                    Details
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Competition competition { get; set; }
}
