
<div class="card shadow">
    <div class="card-header">
        <h5>Competition Details</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <span><strong>Play In:</strong> @Competition.PlayInAmount.ToString("C")</span>
            </div>
            <div class="col-6">
                <span><strong>Number of weeks:</strong> @Competition.NumberOfWeeks</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span><strong>Start Date:</strong> @Competition.StartDate.ToShortDateString()</span>
            </div>
            <div class="col-6">
                <span><strong>End Date:</strong> @Competition.EndDate.ToShortDateString()</span>
            </div>
        </div>

        <hr />

        @if (Competition.Contestants.Any())
        {
            <div class="row">
                <div class="col-12 text-center">
                    <p>@Competition.Contestants.Count() current contestant(s)</p>
                </div>
            </div>

            @if (!Competition.Contestants.Any(c => c.UserId == UserId) && DateTime.Today <= Competition.StartDate)
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary" @onclick="HandleContestantJoin">
                            @if (IsContestantJoining)
                            {
                                <span class="spinner-border spinner-border-sm"></span><span> Joining</span>
                            }
                            else
                            {
                                <span>Join</span>
                            }
                        </button>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-12 text-center">
                    <p>@Competition.Contestants.Count() current contestants</p>
                </div>
            </div>

            @if (DateTime.Today <= Competition.StartDate)
            {
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary" @onclick="HandleContestantJoin">
                            @if (IsContestantJoining)
                            {
                                <span class="spinner-border spinner-border-sm"></span><span> Joining</span>
                            }
                            else
                            {
                                <span>Join</span>
                            }
                        </button>
                    </div>
                </div>
            }
        }

        @if (DateTime.Today < Competition.StartDate)
        {
            <div class="row">
                <div class="col-12">
                    <button @onclick='() => Navigation.NavigateTo($"/edit-competition/{Competition.CompetitionId}")'
                            class="btn btn-secondary btn-block" type="button">
                        Edit
                    </button>
                </div>
            </div>
        }
    </div>
</div>
